* {
  border: 1px solid red !important;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

/* latin-ext */
@font-face {
  font-family: 'Playfair Display SC';
  font-style: normal;
  font-weight: 900;
  src: local('Playfair Display SC Black'), local('PlayfairDisplaySC-Black'), url(https://fonts.gstatic.com/s/playfairdisplaysc/v5/5ggqGkvWJU_TtW2W8cEubPV7XtwIpdJu575xxDdcaAN_v5H-gcmDugi2HQeB0BPm.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

.flex-box {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
  flex-wrap: wrap;
}

body {

}

figure {
  margin: 0;
}

header {
  position: center;
  height: 600px;
  text-align: -webkit-center;
  line-height: 600px;
}

nav ul {
  list-style-type: none;
  margin: 0;
}

span {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  text-align: -webkit-center;
  font-size: 10vw;
  color: rgba(256,256,256,0.6);
  font-weight: 900;
  font-family: 'Playfair Display SC Black';;
}

main {
  will-change: transform;
}

.container {
  background-color: white;
}

.top-nav {
  padding-top: 10px;
  padding-bottom: 10px;;
  text-align: right;
  height: 60px;
  top: 0;
  left: 0;
  width: 100%;
  text-align: right;
  position: fixed;
  z-index: 999  ;
}

.nav-list {
  font-size: larger;
}

.nav-item {
  color: black;
  display: inline;
  padding-left: 4em;
  background-color: rgba(256, 256, 256, 0.2);
  §
}
.first-nav-item {
  padding-left: 0;
}

.last-nav-item {
  padding-right: 1em;
}

.content {
  font-size: larger;
  text-align: center;
  padding-top: 40px;;
  padding-left: 100px;
  padding-right: 100px;
  line-height: 2em;
  background-color: white;
}

.banner-img {
	width: 100%;
  background-size: 100%;
	background-repeat: false;
  position: fixed;
  z-index: -999;
}

.banner-wrapper {
  z-index: -1;
  top: 0;
  left: 0;
}