/* {
  border: 1px solid red !important;
}*/

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

/* latin-ext */
@font-face {
  font-family: 'Playfair Display SC';
  font-style: normal;
  font-weight: 900;
  src: local('Playfair Display SC Black'), local('PlayfairDisplaySC-Black'), url(https://fonts.gstatic.com/s/playfairdisplaysc/v5/5ggqGkvWJU_TtW2W8cEubPV7XtwIpdJu575xxDdcaAN_v5H-gcmDugi2HQeB0BPm.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

.flex-box {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
  flex-wrap: wrap;
}

figure {
  margin: 0;
}

header {
  height: 600px;
  text-align: -webkit-center;
  line-height: 600px;
}

nav ul {
  list-style-type: none;
  margin: 0;
}

span {
  line-height: normal;
  text-align: -webkit-center;
  font-size: 3em;
  color: rgb(254,219,117);
  font-weight: 900;
}

main {
  will-change: transform;
  background-color: white;
}

.container {
  background-color: white;
}

.top-nav {
  left: 0;
  top: 0;
  line-height: 100px;
  width: 100%;
  text-align: right;
  position: fixed;
  z-index: 999;
  margin-right: 0;
  margin-left: 0;
  color:  rgb(236, 170, 57);
  font-size: larger;
}

.top-nav > * {
  vertical-align: middle;
}

.nav-item {
  font-weight: 400;
  font-size: 1em;
}

.content {
  font-size: 1.8em;
  text-align: center;
  line-height: 2em;
  padding-left: 15%;
  padding-right: 15%;
  background-color: white;
  padding-top: 20px;
  padding-bottom: 20px;
}

.section-1 {
  padding-top: 20px;
}

.listen-btn {
  border-radius: 20px;
  box-shadow: 3px 5px 2px #888888;
  background: -webkit-linear-gradient(rgb(254,219,117), rgb(236, 170, 57)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(rgb(254,219,117), rgb(236, 170, 57)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(rgb(254,219,117), rgb(236, 170, 57)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(rgb(254,219,117), rgb(236, 170, 57)); /* Standard syntax */
  color: white;
}

.quote {
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: 3vw;
  background-color: rgb(254,219,117);
  background-color: white;

  color:  rgb(236, 170, 57);
}

.section-4 {
  background-color: rgb(254,219,117);
}
.logo-img {
  max-height: 100px;
  visibility: hidden;
}

.logo-wrapper {
  padding: 0;
  display: none;
}

.banner-img {
	width: 100%;
  background-size: 100%;
	background-repeat: false;
  position: fixed;
  z-index: -999;
}

.banner-wrapper {
  z-index: -1;
  top: 0;
  left: 0;
}

.title-text {
  visibility: hidden;
}

.header-title > * {
  vertical-align: middle;
}

.header-title {
  text-align: center;
}


blockquote {
  padding: 0 1em 0 1em;
  position:relative;
  font-size: 1.4em;
  line-height: 1.2em;
  border-left: 0;
  margin: 0;
}

blockquote:before {
  content: "\201C";
  font-size: 2.0em;
  position:absolute;
  left: 3px;
  top: 0.3em;
  line-height: 0.1em;
}

blockquote:after {
  content: "\201D";
  font-size: 2.0em;
  position:absolute;
  right: 3px;
  bottom: 0em;
  line-height: 0.1em;
}
blockquote p {
  display: inline;
}

/* Large desktop */
@media only screen and (max-width: 1200px) {

}

/* Desktop */
@media only screen and (max-width: 992px) {

}

/* Tablets */
@media only screen and (max-width: 768px) {
  .content {
    padding-left: 5%;
    padding-right: 5%;
  }

  main {
    padding-top: 100px;
  }

  .title-wrapper {
    display: none;
  }

  .nav-list {
    display: none;
  }

  .logo-img {
    visibility: visible;
  }

  .top-nav {
    background-color: rgb(236, 170, 57);
    box-shadow: 0px 2px 5px black;
  }
}


/* Small devices */
@media only screen and (min-width: 0px) {

}


