@import url("http://fonts.googleapis.com/css?family=PT+Sans");
@import url("http://fonts.googleapis.com/css?family=Oswald:700");
@font-face {
  font-family: 'PoiretOne-Regular';
  src: url("http://s3.amazonaws.com/content.sitezoogle.com/system/fonts/PoiretOne-Regular/PoiretOne-Regular.eot?#iefix") format("embedded-opentype"), url("http://s3.amazonaws.com/content.sitezoogle.com/system/fonts/PoiretOne-Regular/PoiretOne-Regular.woff") format("woff"), url("http://s3.amazonaws.com/content.sitezoogle.com/system/fonts/PoiretOne-Regular/PoiretOne-Regular.ttf") format("truetype"), url("http://s3.amazonaws.com/content.sitezoogle.com/system/fonts/PoiretOne-Regular/PoiretOne-Regular.svg#PoiretOne-Regula") format("svg");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: 'PTSans-Regular';
  src: url("http://s3.amazonaws.com/content.sitezoogle.com/system/fonts/PTSans-Regular/PTSans-Regular.eot?#iefix") format("embedded-opentype"), url("http://s3.amazonaws.com/content.sitezoogle.com/system/fonts/PTSans-Regular/PTSans-Regular.woff") format("woff"), url("http://s3.amazonaws.com/content.sitezoogle.com/system/fonts/PTSans-Regular/PTSans-Regular.ttf") format("truetype"), url("http://s3.amazonaws.com/content.sitezoogle.com/system/fonts/PTSans-Regular/PTSans-Regular.svg#PTSans-Regular") format("svg");
  font-style: normal;
  font-weight: normal; }

#usersite-container, #usersite-container legend, #usersite-container input, #usersite-container textarea, #usersite-container button {
  font-size: 14px;
  line-height: 1.5;
  font-family: 'PT Sans', sans-serif;
  font-weight: normal;
  text-transform: none;
  font-style: normal;
  letter-spacing: normal; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  body.mobile-view #usersite-container {
    font-size: 10.5px; }

  body.mobile-view #usersite-container legend,
  body.mobile-view #usersite-container input,
  body.mobile-view #usersite-container textarea,
  body.mobile-view #usersite-container button {
    font-size: 10.5px; } }
body.mobile-view #usersite-container.previewing-within-container[content-width~="<480"] {
  font-size: 10.5px; }

body.mobile-view #usersite-container.previewing-within-container[content-width~="<480"] legend,
body.mobile-view #usersite-container.previewing-within-container[content-width~="<480"] input,
body.mobile-view #usersite-container.previewing-within-container[content-width~="<480"] textarea,
body.mobile-view #usersite-container.previewing-within-container[content-width~="<480"] button {
  font-size: 10.5px; }

#usersite-container .gallery_feature li {
  font-size: 14px; }

#usersite-container #header-graphic img {
  vertical-align: bottom; }

#usersite-container {
  text-align: left; }

#usersite-container .main-font {
  font-family: 'PT Sans', sans-serif;
  font-weight: normal;
  text-transform: none;
  font-style: normal;
  letter-spacing: normal; }

#usersite-container .alt-font {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-style: normal;
  letter-spacing: normal; }

#usersite-container footer .branding a {
  text-decoration: none; }

#usersite-container, #usersite-container legend, #usersite-container button {
  color: #4e4e4e; }

#usersite-container .FCK__AnchorC {
  color: #4e4e4e !important; }

#usersite-container input, #usersite-container textarea {
  color: #333;
  background-color: #fff; }

#usersite-container input[type="image"] {
  background-color: transparent; }

#usersite-container .text-main, #usersite-container h1, #usersite-container h2, #usersite-container h3, #usersite-container h4, #usersite-container h5 {
  color: #4e4e4e; }

#usersite-container a, #usersite-container .text-main a,
#usersite-container h1 a, #usersite-container h2 a, #usersite-container h3 a, #usersite-container h4 a, #usersite-container h5 a {
  color: #003399; }

#usersite-container a.cart-option {
  border-color: #003399; }

#usersite-container .text-secondary {
  color: #747474;
  color: rgba(78, 78, 78, 0.75); }

#usersite-container .text-secondary a,
#usersite-container .pagination a {
  color: #004ce6;
  color: rgba(0, 51, 153, 0.75); }

#usersite-container .text-tertiary {
  color: #9b9b9b;
  color: rgba(78, 78, 78, 0.55); }

#usersite-container .text-tertiary a,
#usersite-container .pagination a {
  color: #747474;
  color: rgba(78, 78, 78, 0.85); }

#usersite-container .text-tertiary a:hover, #usersite-container .text-tertiary a:focus,
#usersite-container .pagination a:hover,
#usersite-container .pagination a:focus {
  color: #4e4e4e; }

#usersite-container .bg-accent-slight,
#usersite-container .bg-accent-slight-hover:hover,
#usersite-container table.ui-collection tr:hover {
  background-color: rgba(78, 78, 78, 0.05); }

#usersite-container .bg-accent {
  background-color: #dadada;
  background-color: rgba(78, 78, 78, 0.2); }

#usersite-container .bg-accent-heavy {
  background-color: #cecece;
  background-color: rgba(78, 78, 78, 0.5); }

#usersite-container .bg-main {
  background-color: #4e4e4e; }

#usersite-container table.underlined th,
#usersite-container table.underlined td,
#usersite-container table.ui-collection th,
#usersite-container table.ui-collection td,
#usersite-container .border-accent th,
#usersite-container .border-accent td,
#usersite-container .border-accent {
  border-color: #dadada;
  border-color: rgba(78, 78, 78, 0.2); }

#usersite-container .border-accent-embossed {
  border-color: #dadada;
  border-color: rgba(78, 78, 78, 0.2);
  border-bottom-color: rgba(78, 78, 78, 0.35); }

#usersite-container .border-accent-dark {
  border-color: #dadada;
  border-color: rgba(78, 78, 78, 0.35); }

#usersite-container .border-link {
  border-color: #003399;
  border-color: rgba(0, 51, 153, 0.6); }

#usersite-container .simple_form textarea,
#usersite-container .simple_form input {
  border: 1px solid #dadada;
  border-color: rgba(78, 78, 78, 0.25) rgba(78, 78, 78, 0.2) rgba(78, 78, 78, 0.15); }

#usersite-container .simple_form textarea:focus,
#usersite-container .simple_form input:focus {
  border-color: #003399;
  box-shadow: 0 0 4px rgba(0, 51, 153, 0.5); }

#usersite-container nav#main-nav.non-mobile ul ul:before, #usersite-container nav#main-nav.non-mobile ul.horizontal ul:before {
  border-color: transparent transparent #003399 transparent; }

#usersite-container nav#main-nav.non-mobile ul.horizontal ul:after {
  border-color: #003399 transparent transparent transparent; }

#usersite-container nav#main-nav.non-mobile ul.vertical_right ul:before {
  border-color: transparent transparent transparent #003399; }

#usersite-container nav#main-nav.non-mobile ul.vertical_left ul:before {
  border-color: transparent #003399 transparent transparent; }

#usersite-container nav#main-nav.non-mobile ul ul li a:link,
#usersite-container nav#main-nav.non-mobile ul ul li a:visited {
  background-color: #003399;
  color: white;
  color: rgba(255, 255, 255, 0.8); }

#usersite-container nav#main-nav.non-mobile ul ul li a:hover,
#usersite-container nav#main-nav.non-mobile ul ul li a:focus {
  color: white; }

#usersite-container #mobile-header .bar {
  color: #4e4e4e; }

#usersite-container #mobile-header .bar a {
  color: #4e4e4e;
  border-color: #4e4e4e; }

#usersite-container nav#main-nav.mobile a.top:link, #usersite-container nav#main-nav.mobile a.top:visited, #usersite-container nav#main-nav.mobile a.top:hover, #usersite-container nav#main-nav.mobile a.top:active,
#usersite-container nav#main-nav.mobile ul li a:link,
#usersite-container nav#main-nav.mobile ul li a:visited,
#usersite-container nav#main-nav.mobile ul li a:hover,
#usersite-container nav#main-nav.mobile ul li a:active {
  color: #4e4e4e; }

#usersite-container .button,
#usersite-container input[type="submit"],
#usersite-container .text-secondary .button,
#usersite-container .text-tertiary .button,
#usersite-container .bg-highlight,
#usersite-container a.bg-highlight {
  background-color: #003399;
  background-color: rgba(0, 51, 153, 0.9); }

#usersite-container .button, #usersite-container .button:hover, #usersite-container .button:focus,
#usersite-container input[type="submit"],
#usersite-container input[type="submit"]:hover,
#usersite-container input[type="submit"]:focus,
#usersite-container .text-secondary .button,
#usersite-container .text-secondary .button:hover,
#usersite-container .text-secondary .button:focus,
#usersite-container .text-tertiary .button,
#usersite-container .text-tertiary .button:hover,
#usersite-container .text-tertiary .button:focus,
#usersite-container .bg-highlight,
#usersite-container .bg-highlight:hover,
#usersite-container .bg-highlight:focus,
#usersite-container a.bg-highlight,
#usersite-container a.bg-highlight:hover,
#usersite-container a.bg-highlight:focus {
  color: white; }

#usersite-container .button:hover, #usersite-container .button:focus {
  background-color: #003399; }

#usersite-container .button:active {
  background-color: #0044cc; }

#usersite-container .button.disabled:hover, #usersite-container .button.disabled:focus, #usersite-container .button[disabled]:hover, #usersite-container .button[disabled]:focus {
  background-color: rgba(0, 51, 153, 0.9); }

#usersite-container .button.button-secondary {
  color: #003399;
  box-shadow: inset 0 -1px 0 rgba(0, 51, 153, 0.1);
  border: 1px solid #dadada;
  border: 1px solid rgba(78, 78, 78, 0.2);
  background-color: transparent; }

#usersite-container .button.button-secondary:hover, #usersite-container .button.button-secondary:focus {
  background-color: rgba(255, 255, 255, 0.2); }

#usersite-container .button.button-secondary:active {
  background-color: rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.1); }

#usersite-container .button.button-tertiary, #usersite-container .button.button-tertiary:hover, #usersite-container .button.button-tertiary:focus {
  background-color: #9b9b9b;
  background-color: rgba(78, 78, 78, 0.55); }

.oldie #usersite-container .zoogle-music-player .circle-button {
  color: #003399; }

#usersite-container footer .branding a {
  color: #4e4e4e; }

#usersite-container #sticky-footer .music_feature .music-player.display-swmp {
  background-color: #4e4e4e;
  background-color: rgba(78, 78, 78, 0.95); }

#usersite-container #sticky-footer .music_feature .music-player.display-swmp .player-title .title {
  color: white;
  color: rgba(255, 255, 255, 0.9); }

#usersite-container #sticky-footer .music_feature .music-player.display-swmp .artist {
  color: white;
  color: rgba(255, 255, 255, 0.6); }

#usersite-container #sticky-footer .music_feature .music-player.display-swmp .artist span {
  color: white;
  color: rgba(255, 255, 255, 0.7); }

#usersite-container #sticky-footer .music_feature .music-player.display-swmp .player a {
  color: white; }

#usersite-container #sticky-footer .music_feature .music-player.display-swmp .player a.play-button, #usersite-container #sticky-footer .music_feature .music-player.display-swmp .player a.button {
  background-color: transparent;
  background-color: rgba(255, 255, 255, 0.3); }

#usersite-container #sticky-footer .music_feature .music-player.display-swmp .player a.play-button:hover, #usersite-container #sticky-footer .music_feature .music-player.display-swmp .player a.play-button:focus, #usersite-container #sticky-footer .music_feature .music-player.display-swmp .player a.button:hover, #usersite-container #sticky-footer .music_feature .music-player.display-swmp .player a.button:focus {
  background-color: rgba(255, 255, 255, 0.325); }

#usersite-container #sticky-footer .music_feature .music-player.display-swmp .player a.play-button:active, #usersite-container #sticky-footer .music_feature .music-player.display-swmp .player a.button:active {
  background-color: rgba(255, 255, 255, 0.35); }

#usersite-container #sticky-footer .music_feature .music-player.display-swmp .player .progress {
  background: #fefefe;
  background: rgba(255, 255, 255, 0.4); }

#usersite-container #sticky-footer .music_feature .music-player.display-swmp .player .progress .position {
  background: #fdfdfd;
  background: rgba(255, 255, 255, 0.7); }

#usersite-container #sticky-footer .music_feature .music-player.display-swmp .time {
  color: white;
  color: rgba(255, 255, 255, 0.7); }

#usersite-container #sticky-footer .music_feature .music-player.display-swmp .text-tertiary {
  color: rgba(255, 255, 255, 0.7); }

#usersite-container .my_sites .my_site_icon:hover {
  color: #003399; }

#usersite-container #header-wrap .layer-subtitle {
  font-family: 'PoiretOne-Regular';
  font-size: 25px; }

#usersite-container #header-wrap .layer-subtitle span.outer {
  color: #FFFFFF; }

#usersite-container #header-wrap h1#page-title.display-type-image span img {
  width: 94%; }

#usersite-container .project-name, #usersite-container h1#page-title .outer {
  font-family: 'PoiretOne-Regular';
  font-weight: normal; }

#usersite-container #page-root h1#page-title.display-type-text span.outer {
  color: #FFFFFF; }

#usersite-container h1#page-title .outer {
  font-size: 96px; }

#usersite-container h1#page-title.display-type-text span.outer {
  color: #FFFFFF; }

#usersite-container h1#page-title.display-type-image span.outer, #usersite-container h1#page-title.display-type-none span.outer {
  font-size: 0; }

#usersite-container h1#page-title.display-type-none span {
  display: none; }

#usersite-container h1#cart-title {
  font-family: 'PTSans-Regular'; }

#usersite-container #title-wrap h1#page-title.display-type-image span,
#usersite-container #title-wrap h1#page-title.display-type-image span img {
  width: 100%; }

#usersite-container #title-wrap h1#page-title.display-type-image {
  width: 94%; }

#usersite-container [data-logo-size-target] {
  width: 94%; }

#usersite-container [data-logo-size-target] h1#page-title.display-type-image {
  width: 100% !important; }

#usersite-container #page-root nav#main-nav {
  font-size: 18px; }

#usersite-container #page-root nav#main-nav ul ul {
  font-size: 13px; }

#usersite-container #page-root nav#main-nav.non-mobile {
  font-size: 18px; }

#usersite-container #page-root nav#main-nav.non-mobile ul ul {
  font-size: 13px; }

#usersite-container nav#main-nav {
  font-family: 'PoiretOne-Regular'; }

#usersite-container #toggle-mobile-menu a,
#usersite-container nav#main-nav.non-mobile a.top {
  color: #ffffff !important; }

#usersite-container #toggle-mobile-menu a:hover,
#usersite-container nav#main-nav.non-mobile a.top:hover {
  color: #c4c4c4 !important; }

#usersite-container #page-root .subtitle-wrap {
  font-family: 'PTSans-Regular';
  font-size: 20px;
  color: #766666;
  letter-spacing: normal;
  font-weight: normal;
  text-transform: none;
  font-style: normal; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  body.mobile-view #usersite-container #container-wrap .subtitle-wrap {
    font-size: 15px; } }
body.mobile-view #usersite-container.previewing-within-container[content-width~="<480"] #container-wrap .subtitle-wrap {
  font-size: 15px; }
